/* FILENAME: forgotPassword.css */
@import url(variables.css);

* {
    box-sizing: border-box;
}

body {
    font-family: var(--TEXT-FONT);
    max-width: 600px;
    min-height: 100vh;
    margin: 2rem auto;
    padding: 2rem 1rem;
    color: var(--BLACK-TEXT); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--LIGHT-PINK);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
}

#forgot-password-container {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    background-color: var(--LIGHT-PINK);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

#forgot-password-container h2 {
    margin-top: 0;
    font-size: 1.75rem;
    font-family: var(--TEXT-FONT);
}

#forgot-password-container p {
    font-family: var(--TEXT-FONT);
    font-size: 0.95rem;
    margin: 0;
    color: var(--BLACK);
}

#forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
}

#forgot-password-form div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#forgot-password-form label {
    font-family: var(--TEXT-FONT);
    font-size: 1rem;
}

#forgot-password-form input {
    padding: 0.5rem;
    border: 1px solid var(--BLACK);
    border-radius: 0.5rem;
    font-family: var(--TEXT-FONT);
    font-size: 1rem;
    width: 100%;
    background-color: #ffffff;
}

#forgot-password-form button[type="submit"] {
    background: var(--GREEN);
    color: var(--BLACK);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: var(--TEXT-FONT);
    font-size: 1rem;
    padding: 0.75rem;
    margin-top: 0.5rem;
}

#forgot-password-form button[type="submit"]:hover {
    background: #989548;
}

#forgot-pass-message {
    font-size: 0.9rem;
    margin: 0.25rem 0;
}

#forgot-password-container > a {
    display: inline-block;
    margin-top: 0.5rem;
    color: var(--BLACK);
    font-size: 1rem;
    font-family: var(--TEXT-FONT);
    text-decoration: underline;
    text-align: center;
}

#forgot-password-container > a:hover {
    color: var(--DARK-PINK);
}

footer {
    flex-shrink: 0;
    text-align: center;
    padding: 1.5rem 1rem;
}