/* FILENAME: login.css */
@import url(variables.css);

body {
    font-family: var(--TEXT-FONT);
    max-width: 600px;
    min-height: 100vh;
    margin: 2rem auto;
    padding: 2rem 1rem;
    color: var(--BLACK-TEXT); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 2;
}

#center-div {
    display: flex;
    flex-direction: column;
}

#clickables {
    display: flex;
    flex-direction: column;
}

#login-modal-container {
    display: flex;
    flex-direction: column;
}

#login-modal-container.hidden {
    display: none;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

#login-form p {
    font-family: var(--TEXT-FONT);
    font-size: 1rem;
    margin-bottom: 0;
}

#task-form input {
    padding: 0.5rem;
    border: 1px solid var(--BLACK);
    border-radius: 0.5rem;
    font-family: var(--TEXT-FONT);
    font-size: 1rem;
}

#submit-btn {
    background: var(--GREEN);
    color: var(--BLACK);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: var(--TEXT-FONT);
    font-size: 1rem;
    padding: 0.75rem;
}

#submit-btn:hover {
    background: #989548;
}