<!-- FILENAME: forgot-password.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chu-Do List | Forgot Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot-password.css') }}">
    </head>
    
    <body>
        <main>
            <div id="forgot-password-container">
                <h2>Forgot Password</h2>
                <p>Enter your email address and we'll send you a link to reset your password.</p>
            
                <form id="forgot-password-form">
                    <div>
                        <label for="forgot-pass-email">Email address:</label>
                        <input type="email" id="forgot-pass-email" name="email" required>
                    </div>

                    <button type="submit">Send Reset Link</button>
                </form>
            
                <p id="forgot-pass-message"></p>
                <a href="/login">Back to Login</a>
            </div>
        </main>

        <script src = "{{ url_for('static', filename='js/forgotPassword.js') }}"></script>
    </body>
</html>