<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chu-Do List | Profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <main class="container">
            <div class="aqdd-task-card">
                <header class="app-header">
                    <h1>Hello, {{ display_name }}</h1>
                    <button id="logout-btn" class="logout-btn">Log Out</button>
                </header>

                <hr class="section-divider">

                <section id="edit-profile-section">
                    <h2>Edit Profile</h2>
                    <form id="profile-form">
                        <p>Display Name</p>
                        <input type="text" id="profile-display-name" value="{{ display_name }}">
                        
                        <p>Email</p>
                        <input type="email" id="profile-email" value="{{ email }}">

                        <p>New Password (leave blank if you want to keep your current password)</p>
                        <input type="password" id="profile-password" minlength="8">

                        <p id="profile-error" class="form-error hidden"></p>
                        <p id="profile-success" class="form-success hidden"></p>

                        <br>
                        <button type="submit" id="profile-submit-btn">Save Changes</button>
                    </form>
                </section>
            </div>
        </main>

        <footer>
            © 2026 chuhchi-org
        </footer>

        <script src = "{{ url_for('static', filename='js/profile.js') }}"></script>
    </body>
</html>